@tailwind base;
@tailwind components;
@tailwind utilities;
* {
	font-family: 'Arimo', sans-serif;
}

html {
	@apply text-fg bg-bg;
}

@layer base {
	.font-dela-gothic {
		font-family: 'Arimo', cursive;
	}

	.font-monsterrat {
		font-family: 'Arimo', sans-serif;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: 'Arimo', cursive;
		text-align: left;
	}
	h1 {
		@apply text-[2.5rem] font-black text-center;
	}
	h2 {
		@apply text-[1.875rem] font-bold text-center;
	}
	h3 {
		@apply text-[1.5rem] font-bold text-center;
	}
	h4 {
		@apply text-[1.25rem] font-bold text-center;
	}
	h5 {
		@apply text-[1rem] font-bold text-center;
	}
	p,
	a,
	li,
	button {
		@apply text-sm text-center;
		font-family: 'Montserrat', sans-serif;
	}
	img {
		max-width: 100%;
	}

	@screen md {
		h1 {
			@apply text-[3.75rem];
		}
		h2 {
			@apply text-[2.5rem];
		}
		h3 {
			@apply text-[1.875rem];
		}
		h4 {
			@apply text-[1.5rem];
		}
		h5 {
			@apply text-[1.25rem];
		}
		p,
		a,
		li {
			@apply text-base;
		}
	}

	@screen lg {
		h1 {
			@apply text-[5rem];
		}
		h2 {
			@apply text-[3.75rem];
		}
		h3 {
			@apply text-[2.5rem];
		}
		h4 {
			@apply text-[2rem];
		}
		h5 {
			@apply text-[1.5rem];
		}
		p,
		a,
		li {
			@apply text-lg;
		}
	}
	.gradient-1 {
		/* background: linear-gradient(93.32deg, var(--color-accent1) 0%, var(--color-accent2) 118.85%); */
		@apply bg-gradient-to-r from-accent-1 to-accent-2;
	}

	.max-width-container {
		@apply max-w-[1440px] mx-auto px-4;
	}
}
.gradient-1 {
	/* background: linear-gradient(93.32deg, var(--color-accent1) 0%, var(--color-accent2) 118.85%); */
	@apply bg-gradient-to-r from-accent-1 to-accent-2;
}
::view-transition-old(root),
::view-transition-new(root) {
	animation-duration: 4s;
}
@media (prefers-reduced-motion) {
	::view-transition-group(*),
	::view-transition-old(*),
	::view-transition-new(*) {
		animation: none !important;
	}
}
.custom-section > p:has(> img) {
	@apply flex justify-start items-start gap-4;
}
.custom-section > p:has(> img) > img {
	@apply max-w-[100%] w-full;
}
